<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mappingService" class="phoneisure.core.mapping.MappingService"/>

    <!-- admin api -->
    <bean id="adminApiConfigParameterMap" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="key">
                    <value>${apiRequestVerifyConfig.key}</value>
                </entry>
                <entry key="secret">
                    <value>${apiRequestVerifyConfig.secret}</value>
                </entry>
            </map>
        </constructor-arg>
    </bean>
    <bean id="adminApiConfig" class="phoneisure.core.api.ApiConfig">
        <property name="basicUrl" value="${apiRequestVerifyConfig.basicUrl}"/>
        <property name="parameterMap" ref="adminApiConfigParameterMap"/>
    </bean>
    <bean id="adminApiService" class="phoneisure.core.api.ApiService">
        <property name="apiConfig" ref="adminApiConfig"/>
    </bean>
    <!-- end admin -->

</beans>